.fp{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.fp_item{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.fp_img{
    width: 100%;
    object-fit: cover;
}
.fp_name{
    font-weight: bold;
}
.fp_city{
    font-weight: 300;
}
.fp_price{
    font-weight: 500;
}
.fp_rating>button{
    background-color: #003580;
    color: #fff;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
}
.fp_rating>span{
    font-size: 14px
}